body {
  background-color: var(--background-colour) !important;
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
  margin: 4rem 0;
  font-size: 2rem;
}

.container {
  margin-bottom: 200px;
}

footer {
  background-color: var(--nav-colour);
  padding: 1rem;
}

.footer-text {
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

footer p {
  color: gray;
  margin: 0;
}
