.navbar {
  background-color: var(--nav-colour) !important;
}

.navbar > div {
  max-width: 1320px;
}

.navbar-brand {
  color: black;
  font-size: 2rem;
}

.active {
  color: var(--primary-colour) !important;
}

.nav-link {
  color: gray;
  font-size: 1.1rem;
  text-transform: uppercase;
}
